body {
background-color: #f4f2eb;
font-family: "Roboto Mono", monospace;
color: #1900ff;
transition: 0.4s;
text-align: center;
padding-top: 50px;
}

.biotext{

    
padding-bottom: 20px;
background-color:#e30909;
color:#f4f2eb;
    width: 500px; 
    padding: 30px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(16, 12, 92, 0.5); 
    text-align: center;
    
}
button{
    background-color: #f4f2eb;
    padding: 10px 20px;
    color: #e30909;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    cursor: pointer;
    border-radius: 20px;
    border: 4px solid #e30909;
    font-weight: 600;
}

.modo-oscuro{
    background-color: #000000;
    color: #cbc7b3;
    font-family: "Trocchi", serif;
    letter-spacing: 2px;
}

.modo-oscuro button{
    border-color: #1900ff;
    background-color: black;
    color:#1900ff;
    font-family: "Trocchi", serif;
}
.image-container {
    width: 300px; 
    display: block;
  margin-left: auto;
  margin-right: auto;
   padding: 30px;

}

.image-container img {
    width: 100%; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
}

.scroll-container {
    width: 100%;
    background-color: #e30909;
    color: white;
    border: #e30909 10px;
    overflow: hidden; 
    white-space: nowrap;
    box-sizing: border-box;
}

.scroll-text {
    display: inline-block; 
    padding-left: 100%; 
    animation: scroll 15s linear infinite; 
}

@keyframes scroll {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
.contact{
    padding-bottom: 40px;
}

nav{
    font-weight: 800;
    text-transform: uppercase;
    background-color:#000000;
    padding: 2px;
}

nav a:link {
  color: red;
}

a:visited {
  color: gray;
}

.boton{
    padding-top: 15px;
}

.modo-oscuro nav{
    background-color:#f4f2eb;
}

.modo-oscuro nav a:link{
    color:#1900ff;
}

.modo-oscuro .biotext{
    background-color:#1900ff;
}

.uni{
    border-radius: 20px;
    animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}